/* mixin 测试 */

HStack(alignment=flex-start, justify-content=flex-start) {
    display flex
    align-items alignment
    justify-content: justify-content
}

.horizontal {
    width: 100vw
    HStack(center, center)
    div {
        height 30px
        width: 30px
        background: blue
        margin 20px
    }
}